rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all authenticated users for all files
    match /{allPaths=**} {
      allow read: if request.auth != null;
    }

    // User specific files
    match /users/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Documents
    match /documents/{documentId} {
      allow write: if request.auth != null;
    }

    // Ads
    match /ads/{adId} {
      allow write: if request.auth != null;
    }

    // Portfolios
    match /portfolios/{portfolioId} {
      allow write: if request.auth != null;
    }
    
    // Applications
    match /applications/{appId} {
      allow write: if request.auth != null;
    }
  }
}
